<h1>Adding a new document</h1>
{#<a href="{{ asset('uploads/pdf/' ~ document.pdfFilename) }}">View brochure (PDF)</a>#}



{{ form_start(form) }}
    {# ... #}

    {{ form_row(form.pdf) }}
{{ form_end(form) }}